<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body id="body-pd" class="body-pd">
<header class="header body-pd" id="header">
    <%- include('./partials/header'); %>
</header>
<%- include('./partials/sidebar'); %>
<% if (error) { %>
    <div class="alert alert-danger"><%= error %></div>
<% } %>
<div class="content">
    <div class="container">
        <div class="d-flex justify-content-end mt-2">
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addGroupModal">
                Add Group
            </button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Group</th>
                <th scope="col">Receivers</th>
<!--                <th scope="col">Status</th>-->
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i < groups.length; i++) { %>
                <tr>
                    <td><%= groups[i].name %></td>
                    <td><%= groups[i].receivers %></td>
<!--                    <td><%= groups[i].status %></td>-->
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editGroupModal<%= i %>">Edit</button>
                            <div class="modal fade" id="editGroupModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="editGroupModalLabel<%= i %>" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteGroupModalLabel<%= i %>">Edit Group</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/groups/update" method="post">
                                                <input name="id" id="id" value="<%= groups[i]._id %>" hidden="">
                                                <div class="mb-3">
                                                    <label for="message" class="form-label">Name</label>
                                                    <input name="name" id="name" class="form-control" value="<%= groups[i].name %>" required>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteGroupModal<%= i %>">Delete</button>
                            <div class="modal fade" id="deleteGroupModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="deleteGroupModalLabel<%= i %>" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteGroupModalLabel<%= i %>">Confirm Delete Groups</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete the group ( <%= groups[i].name %> )?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <form method="POST" action="/groups/delete/<%= groups[i]._id %>">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="addGroupModal" tabindex="-1" aria-labelledby="addGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addGroupModalLabel">Add Group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/groups" method="post">
                    <div class="mb-3">
                        <label for="message" class="form-label">Name</label>
                        <input name="name" id="name" class="form-control" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>

