<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body id="body-pd" class="body-pd">
<header class="header body-pd" id="header">
    <%- include('./partials/header'); %>
</header>
<%- include('./partials/sidebar'); %>
<% if (error) { %>
    <div class="alert alert-danger"><%= error %></div>
<% } %>
<div class="content">
    <div class="container">
        <div class="d-flex justify-content-end mt-2">
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addReceiverModal">
                Add Receiver
            </button>
            <div class="ml-1" style="">
                <form action="receivers/download" method="post">
                    <input type="submit" class="btn btn-primary btn-sm" value="Download Template">
                </form>
            </div>
            <div class="ml-1">
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#uploadModal">
                    Upload Batch
                </button>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="col-3">Name</th>
                <th scope="col" class="col-3">Phone Number</th>
                <th scope="col" class="col-2">Group</th>
<!--                <th scope="col">Status</th>-->
                <th scope="col" class="col-2">Action</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i < receivers.length; i++) { %>
                <tr>
                    <td><%= receivers[i].name %></td>
                    <td><%= receivers[i].phoneNumber %></td>
                    <td><%= receivers[i].group.name %></td>
<!--                    <td><%= receivers[i].status %></td>-->
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editReceiverModal<%= i %>">Edit</button>
                            <div class="modal fade" id="editReceiverModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="editReceiverModalLabel<%= i %>" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editReceiverModalLabel<%= i %>">Edit Receiver</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/receivers/update" method="post">
                                                <input name="id" id="id" value="<%= receivers[i].id %>" hidden="">
                                                <div class="mb-3">
                                                    <label for="name" class="form-label">Name</label>
                                                    <input name="name" id="name" class="form-control" value="<%= receivers[i].name %>" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="phoneNumber" class="form-label">Phone Number</label>
                                                    <input name="phoneNumber" id="phoneNumber" class="form-control" rows="3" value="<%= receivers[i].phoneNumber %>" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="group" class="form-label">Group</label>
                                                    <select name="group" class="form-control" >
                                                        <% groups.forEach(function(group) { %>
                                                            <option value="<%= group._id %>"><%= group.name %></option>
                                                        <% }); %>
                                                    </select>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteReceiverModal<%= i %>">Delete</button>
                            <div class="modal fade" id="deleteReceiverModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="deleteReceiverModalLabel<%= i %>" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteReceiverModalLabel<%= i %>">Confirm Delete Message</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete the receiver ( <%= receivers[i].name %> )?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <form method="POST" action="/receivers/delete/<%= receivers[i]._id %>">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
    <%- include('./partials/pagination'); %>
</div>
<div class="modal fade" id="addReceiverModal" tabindex="-1" aria-labelledby="addReceiverModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addReceiverModalLabel">Add Receiver</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/receivers" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input name="name" id="name" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Phone Number</label>
                        <input name="phoneNumber" id="phoneNumber" class="form-control" rows="3" required>
                    </div>
                    <div class="mb-3">
                        <label for="group" class="form-label">Group</label>
                        <select name="group" class="form-control" >
                            <% groups.forEach(function(group) { %>
                                <option value="<%= group._id %>"><%= group.name %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addReceiverModalLabel">Upload Receiver</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/receivers/upload" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="file" class="form-label">File</label>
                        <input class="form-control" type="file" name="excelFile" accept=".xlsx, .xls, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required>
                    </div>
                    <div class="mb-3">
                        <label for="group" class="form-label">Group</label>
                        <select name="group" class="form-control" >
                            <% groups.forEach(function(group) { %>
                                <option value="<%= group._id %>"><%= group.name %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>

